// app global css in SCSS form

@for $i from 1 through 200 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 10 through 1000 {
  .size-#{$i} {
    width: #{$i}px;
  }
}

.btnAmber {
  background-color: #ffcd26;
  color: black;
}

.btnCancel {
  background-color: #e28e5e;
  color: black;
}

.categories {
  border-radius: 0px;
  min-width: 120px;
  height: 50px;
}

.my-card {
  width: 100%;
  width: 250px;
  height: 300px;
}

.my-product {
  max-width: 24rem;
  max-height: 24rem;
}

// .q-field--outlined .q-field__control{
//   border-radius: 10px;
// }

.product-img {
  width: 25rem;
  height: 25rem;
}

.rounded-item {
  border-radius: 6px;
}

.title-custom {
  font-size: large;
  font-weight: 500;
  background-color: #ffcd26;
  padding: 10px;
  border-radius: 10px;
}


